.container {
    height: 75%;
    margin: 1em 2em;
}

.textfield {
    height: 90%;
    width: 100%;
    resize: none;
    overflow: auto;
}

.controls {
    display: flex;
    flex: wrap;
    justify-content: center;
    padding-top: 15px;
}

button {
    height: 2em;
    width: 20%;
    flex-grow: 1;
    margin: 0 2em;
}